

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-3 ">
      <iframe width="560" height="310" src="https://www.youtube.com/embed/" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

      <div id="buttons">
        <label>
          <input id="query" value='cats' type="text"/>
          <button id="search-button" >Search</button>
        </label>
      </div>

      <div id="tags">

      </div>
    </div>

    <div class="col-md-9">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Title</th>
            <th>URL</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @tracks.each do |track| %>
            <tr data-id="<%= track.id %>">
              <td class="artist"><%= track.artist %></td>
              <td class="title"><%= track.title %></td>
              <td>
                <a target="_blank" href="<%= track.url %>">
                  <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                  </button>
                </a>
              </td>
              <td></td>
              <td>
                <div class="btn-group open">
                  <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <strong>. . .</strong>
                    <!-- <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span> -->
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr>

<%= link_to 'New Track', tracks_path %>
<%= link_to 'Profile', profile_path %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>



<ul id="results"></ul>

    <div class="modal fade js-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <!-- Close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>

        <h2>This is the modal's header.</h2>
      </div>

      <div class="modal-body">
          <ul id="results"></ul>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




